<div class="app-grid">
  <div class="app">
    <a [routerLink]="'/letters'">
        <div class="app_title">
        Falling letters
        </div>
        <div class="app_letters_fall"></div>
    </a>
  </div>
  <div class="app">
      <div class="app_title">
        App 2
      </div>
      <div class="app_image"></div>
  </div>
  <div class="app">
      <div class="app_title">
        App 3
      </div>
      <div class="app_image"></div>
  </div>
  <div class="app">
      <div class="app_title">
        App 4
      </div>
      <div class="app_image"></div>
  </div>
</div>